[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
google-cloud-storage = "*"
pydub = "*"
google-cloud-speech = "*"

[requires]
python_version = "3.7"
